# FIT5202 2025 S2 Assignment 1 : Analysing Australian Property Market Data

## Table of Contents
* [Part 1 : Working with RDD](#part-1)  
    - [1.1 Data Preparation and Loading](#1.1)  
    - [1.2 Data Partitioning in RDD](#1.2)  
    - [1.3 Query/Analysis](#1.3)  
* [Part 2 : Working with DataFrames](#2-dataframes)  
    - [2.1 Data Preparation and Loading](#2-dataframes)  
    - [2.2 Query/Analysis](#2.2)  
* [Part 3 :  RDDs vs DataFrame vs Spark SQL](#part-3)

Note: Feel free to add Code/Markdown cells as you need.

# Part 1 : Working with RDDs (30%) <a class="anchor" name="part-1"></a>
## 1.1 Working with RDD
In this section, you will need to create RDDs from the given datasets, perform partitioning in these RDDs and use various RDD operations to answer the queries. 

1.1.1 Data Preparation and Loading <a class="anchor" name="1.1"></a>
1.	Write the code to create a SparkContext object using SparkSession. To create a SparkSession, you first need to build a SparkConf object that contains information about your application. Use Melbourne time as the session timezone. Give your application an appropriate name and run Spark locally with 4 cores on your machine.

In [1]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
import json
import csv

# Create a SparkConf object
conf = SparkConf()
conf.setAppName('Analysing Australian Property Market Data')
conf.setMaster('local[4]')
conf.set('spark.sql.session.timeZone', 'Australia/Melbourne')

# Create a SparkSession object
spark = SparkSession.builder.config(conf=conf).getOrCreate()

# Get the SparkContext from the SparkSession
sc = spark.sparkContext

1.1.2 Load the CSV and JSON files into multiple RDDs.

In [2]:
# Load the main CSV file
nsw_property_rdd = sc.textFile('dataset/nsw_property_price.csv')

def parse_custom_json(file_content):
    """
    Parses the specific JSON structure where the data is a value in a single-key dictionary.
    """
    import json
    try:
        data = json.loads(file_content)
        # The actual list of records is the first (and only) value in the dictionary
        return list(data.values())[0]
    except (json.JSONDecodeError, IndexError):
        return []

# Use wholeTextFiles to read the file content, then map and flatMap to parse and structure the RDD
council_rdd = sc.wholeTextFiles('dataset/council.json').flatMap(lambda x: parse_custom_json(x[1]))
property_purpose_rdd = sc.wholeTextFiles('dataset/property_purpose.json').flatMap(lambda x: parse_custom_json(x[1]))
zoning_rdd = sc.wholeTextFiles('dataset/zoning.json').flatMap(lambda x: parse_custom_json(x[1]))

1.1.3 For each RDD, remove the header rows and display the total count and the first 8 records.

In [3]:
# Process nsw_property_rdd
header_nsw = nsw_property_rdd.first()
nsw_property_rdd_no_header = nsw_property_rdd.filter(lambda row: row != header_nsw)
print(f"Total count of nsw_property_rdd: {nsw_property_rdd_no_header.count()}")
print("First 8 records of nsw_property_rdd:")
for record in nsw_property_rdd_no_header.take(8):
    print(record)

# Process council_rdd
print(f"\nTotal count of council_rdd: {council_rdd.count()}")
print("First 8 records of council_rdd:")
for record in council_rdd.take(8):
    print(record)

# Process property_purpose_rdd
print(f"\nTotal count of property_purpose_rdd: {property_purpose_rdd.count()}")
print("First 8 records of property_purpose_rdd:")
for record in property_purpose_rdd.take(8):
    print(record)

# Process zoning_rdd
print(f"\nTotal count of zoning_rdd: {zoning_rdd.count()}")
print("First 8 records of zoning_rdd:")
for record in zoning_rdd.take(8):
    print(record)

Total count of nsw_property_rdd: 4854814
First 8 records of nsw_property_rdd:
4270509,1400000.00,"8 C NYARI RD, KENTHURST","2156",house,,"",2.044,H,"2023-12-14","2024-02-14",V,"2/1229857",142,200,9922,53
4329326,1105000.00,"82 CAMARERO ST, BOX HILL","2765",house,,"",300.2,M,"2024-01-12","2024-02-09",R,"1119/1256791",143,200,7071,41
1864112,55000.00,"321 AUBURN ST, MOREE","2400",house,,"",847.3,M,"2023-09-15","2024-01-29",R,"17/36061",192,168,7071,40
1869899,680000.00,"207 GWYDIRFIELD RD, MOREE","2400",house,,SPRINGVALE,2.023,H,"2024-01-19","2024-02-09",R,"6/251911",193,168,7071,48
1867775,220000.00,"90 MERRIWA ST, BOGGABILLA","2409",house,,"",2023.0,M,"2023-12-08","2024-02-09",R,"1/1/758127",194,168,7071,52
2738374,690000.00,"10 PETOSTRUM PL, PORT MACQUARIE","2444",house,,"",672.8,M,"2023-12-14","2024-02-14",R,"94/815767",242,184,7071,40
1608665,661000.00,"71 MULYAN ST, COMO","2226",house,,"",561.7,M,"2013-03-23","2013-05-09","3","2/11301",26440,196,4301,2
638909,780208.00,"38 DUFFY AVE, THORNLEIGH","2120",house,,"",3113.2,M,"2023-06-27","2024-02-09",V,"6, 7/533837 3, 4/1047718",440,147,9922,23

Total count of council_rdd: 220
First 8 records of council_rdd:
{'council_id': 1, 'council_name': '003'}
{'council_id': 2, 'council_name': '011'}
{'council_id': 3, 'council_name': '013'}
{'council_id': 4, 'council_name': '014'}
{'council_id': 5, 'council_name': '020'}
{'council_id': 6, 'council_name': '021'}
{'council_id': 7, 'council_name': '022'}
{'council_id': 8, 'council_name': '024'}

Total count of property_purpose_rdd: 865
First 8 records of property_purpose_rdd:
{'purpose_id': 1, 'primary_purpose': ''}
{'purpose_id': 16, 'primary_purpose': '0FFICE'}
{'purpose_id': 29, 'primary_purpose': '10 FLATS'}
{'purpose_id': 31, 'primary_purpose': '10 UNITS'}
{'purpose_id': 115, 'primary_purpose': '2'}
{'purpose_id': 159, 'primary_purpose': '2 CAR SPACES'}
{'purpose_id': 167, 'primary_purpose': '2 FLATS'}
{'purpose_id': 190, 'primary_purpose': '2 SHEDS'}

Total count of zoning_rdd: 71
First 8 records of zoning_rdd:
{'zoning_id': 1, 'zoning': ''}
{'zoning_id': 2, 'zoning': 'A'}
{'zoning_id': 3, 'zoning': 'AGB'}
{'zoning_id': 4, 'zoning': 'B'}
{'zoning_id': 5, 'zoning': 'B1'}
{'zoning_id': 6, 'zoning': 'B2'}
{'zoning_id': 7, 'zoning': 'B3'}
{'zoning_id': 8, 'zoning': 'B4'}

1.1.4 Drop records with invalid information: purpose_id or council_id is null, empty, or 0.

In [4]:
def parse_csv_line(line):
    return next(csv.reader([line]))

nsw_property_rdd_parsed = nsw_property_rdd_no_header.map(parse_csv_line)

def is_valid(record):
    try:
        purpose_id = record[16]
        council_id = record[15]
        return all([purpose_id, council_id, purpose_id != '0', council_id != '0'])
    except IndexError:
        return False

nsw_property_rdd_cleaned = nsw_property_rdd_parsed.filter(is_valid)
print(f"\nTotal count of nsw_property_rdd after cleaning: {nsw_property_rdd_cleaned.count()}")
print("First 8 records of cleaned nsw_property_rdd:")
for record in nsw_property_rdd_cleaned.take(8):
    print(record)

Total count of nsw_property_rdd after cleaning: 4836784
First 8 records of cleaned nsw_property_rdd:
['4270509', '1400000.00', '8 C NYARI RD, KENTHURST', '2156', 'house', '', '', '2.044', 'H', '2023-12-14', '2024-02-14', 'V', '2/1229857', '142', '200', '9922', '53']
['4329326', '1105000.00', '82 CAMARERO ST, BOX HILL', '2765', 'house', '', '', '300.2', 'M', '2024-01-12', '2024-02-09', 'R', '1119/1256791', '143', '200', '7071', '41']
['1864112', '55000.00', '321 AUBURN ST, MOREE', '2400', 'house', '', '', '847.3', 'M', '2023-09-15', '2024-01-29', 'R', '17/36061', '192', '168', '7071', '40']
['1869899', '680000.00', '207 GWYDIRFIELD RD, MOREE', '2400', 'house', '', 'SPRINGVALE', '2.023', 'H', '2024-01-19', '2024-02-09', 'R', '6/251911', '193', '168', '7071', '48']
['1867775', '220000.00', '90 MERRIWA ST, BOGGABILLA', '2409', 'house', '', '', '2023.0', 'M', '2023-12-08', '2024-02-09', 'R', '1/1/758127', '194', '168', '7071', '52']
['2738374', '690000.00', '10 PETOSTRUM PL, PORT MACQUARIE', '2444', 'house', '', '', '672.8', 'M', '2023-12-14', '2024-02-14', 'R', '94/815767', '242', '184', '7071', '40']
['1608665', '661000.00', '71 MULYAN ST, COMO', '2226', 'house', '', '', '561.7', 'M', '2013-03-23', '2013-05-09', '3', '2/11301', '26440', '196', '4301', '2']
['638909', '780208.00', '38 DUFFY AVE, THORNLEIGH', '2120', 'house', '', '', '3113.2', 'M', '2023-06-27', '2024-02-09', 'V', '6, 7/533837 3, 4/1047718', '440', '147', '9922', '23']

### 1.2 Data Partitioning in RDD <a class="anchor" name="1.2"></a>
1.2.1 For each RDD, using Spark’s default partitioning, print out the total number of partitions and the number of records in each partition

In [5]:
# List of our RDDs and their names for easy iteration
rdds = {
    "nsw_property_rdd_cleaned": nsw_property_rdd_cleaned,
    "council_rdd": council_rdd,
    "property_purpose_rdd": property_purpose_rdd,
    "zoning_rdd": zoning_rdd
}

# Iterate through each RDD to get partitioning info
for name, rdd in rdds.items():
    num_partitions = rdd.getNumPartitions()
    # Use glom() to create an RDD of lists, where each list is a partition
    # Then map len to get the size of each partition
    partition_counts = rdd.glom().map(len).collect()
    
    print(f"--- {name} ---")
    print(f"Total number of partitions: {num_partitions}")
    # Enumerate to print the count for each partition number
    for i, count in enumerate(partition_counts):
        print(f"  Partition {i}: {count} records")
    print("-" * (len(name) + 8) + "\n")

--- nsw_property_rdd_cleaned ---
Total number of partitions: 19
  Partition 0: 257607 records
  Partition 1: 256570 records
  Partition 2: 254864 records
  Partition 3: 255394 records
  Partition 4: 255727 records
  Partition 5: 258108 records
  Partition 6: 258790 records
  Partition 7: 257272 records
  Partition 8: 255254 records
  Partition 9: 254686 records
  Partition 10: 254416 records
  Partition 11: 253181 records
  Partition 12: 253382 records
  Partition 13: 255223 records
  Partition 14: 254220 records
  Partition 15: 257933 records
  Partition 16: 257370 records
  Partition 17: 255693 records
  Partition 18: 231094 records
--------------------------------

--- council_rdd ---
Total number of partitions: 1
  Partition 0: 220 records
-------------------

--- property_purpose_rdd ---
Total number of partitions: 1
  Partition 0: 865 records
----------------------------

--- zoning_rdd ---
Total number of partitions: 1
  Partition 0: 71 records
------------------

1.2.2 Answer the following questions:   
a) How many partitions do the above RDDs have?  
b) How is the data in these RDDs partitioned by default, when we do not explicitly specify any partitioning strategy? Can you explain why it is partitioned in this number?   
c) Assuming we are querying the dataset based on <strong> Property Price</strong>, can you think of a better strategy for partitioning the data based on your available hardware resources?

Your answer for a

Your answer for b

Your answer for c

1.2.3 Create a user-defined function (UDF) to transform the date strings from ISO format (YYYY-MM-DD) (e.g. 2025-01-01) to Australian format (DD/Mon/YYYY) (e.g. 01/Jan/2025), then call the UDF to transform two date columns (iso_contract_date and iso_settlement_date) to contract_date and settlement_date.

In [6]:
from datetime import datetime

def transform_date_format(record):
    """
    UDF to transform iso_contract_date and iso_settlement_date to Australian format.
    """
    try:
        # Date columns are at index 9 and 10
        contract_date_iso = record[9]
        settlement_date_iso = record[10]
        
        # Parse the ISO date string (e.g., "2023-12-14")
        contract_date_obj = datetime.strptime(contract_date_iso, '%Y-%m-%d')
        settlement_date_obj = datetime.strptime(settlement_date_iso, '%Y-%m-%d')
        
        # Format into the desired Australian format (e.g., "14/Dec/2023")
        contract_date_aus = contract_date_obj.strftime('%d/%b/%Y')
        settlement_date_aus = settlement_date_obj.strftime('%d/%b/%Y')
        
        # Create a new list with the transformed dates
        # Note: We are replacing the old dates with the new ones.
        # Alternatively, you could append them as new columns.
        new_record = list(record) # Make a mutable copy
        new_record[9] = contract_date_aus
        new_record[10] = settlement_date_aus
        
        return tuple(new_record) # RDDs work best with immutable tuples
        
    except (ValueError, IndexError):
        # If date parsing fails or index is out of bounds, return the original record
        return record

# Apply the transformation function to our cleaned RDD
nsw_property_rdd_dates_transformed = nsw_property_rdd_cleaned.map(transform_date_format)

# Display the first 5 records to verify the transformation
print("First 5 records with transformed dates:")
for record in nsw_property_rdd_dates_transformed.take(5):
    print(record)
    
# Count before transformation
count_before = nsw_property_rdd_cleaned.count()

# Count after transformation
count_after = nsw_property_rdd_dates_transformed.count()

print(f"Total records before transformation: {count_before}")
print(f"Total records after transformation: {count_after}")

First 5 records with transformed dates:
('4270509', '1400000.00', '8 C NYARI RD, KENTHURST', '2156', 'house', '', '', '2.044', 'H', '14/Dec/2023', '14/Feb/2024', 'V', '2/1229857', '142', '200', '9922', '53')
('4329326', '1105000.00', '82 CAMARERO ST, BOX HILL', '2765', 'house', '', '', '300.2', 'M', '12/Jan/2024', '09/Feb/2024', 'R', '1119/1256791', '143', '200', '7071', '41')
('1864112', '55000.00', '321 AUBURN ST, MOREE', '2400', 'house', '', '', '847.3', 'M', '15/Sep/2023', '29/Jan/2024', 'R', '17/36061', '192', '168', '7071', '40')
('1869899', '680000.00', '207 GWYDIRFIELD RD, MOREE', '2400', 'house', '', 'SPRINGVALE', '2.023', 'H', '19/Jan/2024', '09/Feb/2024', 'R', '6/251911', '193', '168', '7071', '48')
('1867775', '220000.00', '90 MERRIWA ST, BOGGABILLA', '2409', 'house', '', '', '2023.0', 'M', '08/Dec/2023', '09/Feb/2024', 'R', '1/1/758127', '194', '168', '7071', '52')
Total records before transformation: 4836784
Total records after transformation: 4836784

### 1.3 Query/Analysis <a class="anchor" name="1.3"></a>
For this part, write relevant RDD operations to answer the following queries.

1.3.1 Extract the Month (Jan-Dec) information and print the total number of sales by contract date for each Month. (5%)

In [7]:
# 1.3.1 Extract Month and count sales

def safe_month_extractor(record):
    """
    Safely extracts the month from a record.
    Returns (Month, 1) on success, or None on failure.
    """
    try:
        # Check if the record is a list/tuple and has enough elements
        if isinstance(record, (list, tuple)) and len(record) > 9:
            # Attempt to split the date string. This will fail if the format is not DD/Mon/YYYY
            month = record[9].split('/')[1]
            return (month, 1)
        else:
            return None
    except IndexError:
        # This catches cases where the split does not produce at least 2 elements
        return None

# --- FIX: Use the safe extractor function and filter out failures ---
monthly_sales_rdd = nsw_property_rdd_dates_transformed.map(safe_month_extractor) \
                                                      .filter(lambda x: x is not None)

# The rest of the code remains the same
sales_by_month = monthly_sales_rdd.reduceByKey(lambda a, b: a + b)
sorted_sales = sales_by_month.sortBy(lambda x: x[1], ascending=False)

print("Total number of sales by contract month:")
for month, count in sorted_sales.collect():
    print(f"  {month}: {count} sales")

Total number of sales by contract month:
  Mar: 461519 sales
  May: 450172 sales
  Nov: 447462 sales
  Oct: 433103 sales
  Sep: 423994 sales
  Aug: 414212 sales
  Jun: 408592 sales
  Jul: 405107 sales
  Dec: 391570 sales
  Feb: 386002 sales
  Apr: 382872 sales
  Jan: 231686 sales

1.3.2 Which 5 councils have the largest number of houses? Show their name and the total number of houses. (Note: Each house may appear multiple times if there are more than one sales, you should only count them once.) (5%)

In [8]:
# 1.3.2 Find the 5 councils with the largest number of houses

# Step 1: Prepare the property data RDD with a robust filter
property_council_rdd = nsw_property_rdd_cleaned \
    .filter(lambda record: isinstance(record, (list, tuple)) and len(record) > 14) \
    .map(lambda record: (record[1], record[14])) \
    .distinct()

# Step 2: Count the number of unique houses per council
council_house_counts = property_council_rdd.map(lambda record: (record[1], 1)).reduceByKey(lambda a, b: a + b)

# Step 3: Prepare the council data RDD for joining
council_lookup_rdd = council_rdd.map(lambda record: (str(record['council_id']), record['council_name']))

# Step 4: Join the two RDDs
joined_rdd = council_house_counts.map(lambda x: (str(x[0]), x[1])).join(council_lookup_rdd)

# Step 5: Format the result and get the top 5
formatted_rdd = joined_rdd.map(lambda record: (record[1][1], record[1][0]))
top_5_councils = formatted_rdd.takeOrdered(5, key=lambda x: -x[1])

# Step 6: Print the final result
print("\nTop 5 councils with the largest number of unique houses:")
for council, count in top_5_councils:
    print(f"  {council}: {count} houses")

Top 5 councils with the largest number of unique houses:
  BLACKTOWN: 11640 houses
  CITY OF SYDNEY: 10508 houses
  THE HILLS SHIRE: 9186 houses
  LIVERPOOL: 6931 houses
  SUTHERLAND: 6929 houses

## Part 2. Working with DataFrames (45%) <a class="anchor" name="2-dataframes"></a>
In this section, you need to load the given datasets into PySpark DataFrames and use DataFrame functions to answer the queries.
### 2.1 Data Preparation and Loading

2.1.1. Load the CSV/JSON files into separate dataframes. When you create your dataframes, please refer to the metadata file and think about the appropriate data type for each column.

In [9]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, DateType
import pyspark.sql.functions as F
import json

# 2.1.1. Load the CSV/JSON files into separate dataframes.

# --- FIX for CSV: Load with options to handle formatting issues ---
# We let Spark infer the schema initially and add an escape character option.
property_df = spark.read.csv(
    'dataset/nsw_property_price.csv',
    header=True,
    inferSchema=True, # Let Spark figure out the types first
    escape='"' # Helps handle quotes within fields
)

# --- FIX for JSON: Manually parse the custom structure ---
def load_custom_json_to_df(file_path, spark_session):
    """Reads a custom-formatted JSON file and converts it to a DataFrame."""
    # Read the whole file as a single text record
    json_rdd = spark_session.sparkContext.wholeTextFiles(file_path).map(lambda x: x[1])
    # Parse the JSON string to get the list of records (which is the first value in the dict)
    data_list = json.loads(json_rdd.first()).values()
    # Parallelize the list of records into an RDD
    data_rdd = spark_session.sparkContext.parallelize(list(data_list)[0])
    # Convert the RDD of dictionaries to a DataFrame
    return spark_session.createDataFrame(data_rdd)

# Load each JSON file using our custom function
council_df = load_custom_json_to_df('dataset/council.json', spark)
purpose_df = load_custom_json_to_df('dataset/property_purpose.json', spark)
zoning_df = load_custom_json_to_df('dataset/zoning.json', spark)

2.1.2 Display the schema of the dataframes.

In [10]:
print("--- Property DataFrame Schema ---")
property_df.printSchema()
print("\n--- Council DataFrame Schema ---")
council_df.printSchema()
print("\n--- Purpose DataFrame Schema ---")
purpose_df.printSchema()
print("\n--- Zoning DataFrame Schema ---")
zoning_df.printSchema()

--- Property DataFrame Schema ---
root
 |-- property_id: integer (nullable = true)
 |-- purchase_price: double (nullable = true)
 |-- address: string (nullable = true)
 |-- post_code: integer (nullable = true)
 |-- property_type: string (nullable = true)
 |-- strata_lot_number: integer (nullable = true)
 |-- property_name: string (nullable = true)
 |-- area: double (nullable = true)
 |-- area_type: string (nullable = true)
 |-- iso_contract_date: date (nullable = true)
 |-- iso_settlement_date: date (nullable = true)
 |-- nature_of_property: string (nullable = true)
 |-- legal_description: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- council_id: integer (nullable = true)
 |-- purpose_id: integer (nullable = true)
 |-- zone_id: integer (nullable = true)


--- Council DataFrame Schema ---
root
 |-- council_id: long (nullable = true)
 |-- council_name: string (nullable = true)


--- Purpose DataFrame Schema ---
root
 |-- primary_purpose: string (nullable = true)
 |-- purpose_id: long (nullable = true)


--- Zoning DataFrame Schema ---
root
 |-- zoning: string (nullable = true)
 |-- zoning_id: long (nullable = true)

When the dataset is large, do you need all columns? How to optimize memory usage? Do you need a customized data partitioning strategy? (Note: Think about those questions but you don’t need to answer these questions.)

### 2.2 QueryAnalysis  <a class="anchor" name="2.2"></a>
Implement the following queries using dataframes. You need to be able to perform operations like transforming, filtering, sorting, joining and group by using the functions provided by the DataFrame API. For each task, display the first 5 results where no output is specified.

2.2.1. The area column has two types: (H, A and M): 1 H is one hectare = 10000 sqm, 1A is one acre = 4000 sqm, 1 M is one sqm. Unify the unit to sqm and create a new column called area_sqm.

In [11]:
# Unify the area column to sqm
# 1 Hectare = 10000 sqm
# 1 Acre = 4000 sqm
# 1 M = 1 sqm

property_df_area_unified = property_df.withColumn(
    "area_sqm",
    F.when(F.col("area_type") == 'H', F.col("area") * 10000)
     .when(F.col("area_type") == 'A', F.col("area") * 4000)
     .otherwise(F.col("area"))
)

# Display the first 5 results to verify the new column
print("\nDataFrame with unified 'area_sqm' column:")
property_df_area_unified.select("area", "area_type", "area_sqm").show(5)

DataFrame with unified 'area_sqm' column:
+------+---------+--------+
|  area|area_type|area_sqm|
+------+---------+--------+
| 2.044|        H| 20440.0|
| 300.2|        M|   300.2|
| 847.3|        M|   847.3|
| 2.023|        H| 20230.0|
|2023.0|        M|  2023.0|
+------+---------+--------+
only showing top 5 rows

2.2.2. <pre>The top five property types are: Residence, Vacant Land, Commercial, Farm and Industrial.
However, for historical reason, they may have different strings in the database. Please update the primary_purpose with the following rules:
a)	Any purpose that has “HOME”, “HOUSE”, “UNIT” is classified as “Residence”;
b)	“Warehouse”, “Factory”,  “INDUST” should be changed to “Industrial”;
c)	Anything that contains “FARM”(i.e. FARMING), should be changed to “FARM”;
d)	“Vacant”, “Land” should be “Vacant Land”;
e)	Anything that has “COMM”, “Retail”, “Shop” or “Office” are “Cmmercial”.
f)	All remaining properties, including null and empty purposes, are classified as “Others”.
Show the count of each type in a table.
(note: Some properties are multi-purpose, e.g. “House & Farm”, it’s fine to count them multiple times.)
</pre>

In [12]:
# Step 1: Join the property and purpose DataFrames
# We join the DataFrame with unified area to the purpose DataFrame to get the purpose descriptions.
# We also handle potential nulls in 'primary_purpose' by filling them with an empty string.
full_property_df = property_df_area_unified.join(purpose_df, "purpose_id", "left") \
                                           .fillna({"primary_purpose": ""})

# Step 2: Apply the classification rules to create an array of categories
# We use F.array() to create a list of categories for each property based on the conditions.
# F.upper() is used to make the string matching case-insensitive.
classified_df = full_property_df.withColumn("categories", F.array(
    F.when(
        (F.upper(F.col("primary_purpose")).contains("HOME")) |
        (F.upper(F.col("primary_purpose")).contains("HOUSE")) |
        (F.upper(F.col("primary_purpose")).contains("UNIT")),
        "Residence"
    ),
    F.when(
        (F.upper(F.col("primary_purpose")).contains("WAREHOUSE")) |
        (F.upper(F.col("primary_purpose")).contains("FACTORY")) |
        (F.upper(F.col("primary_purpose")).contains("INDUST")),
        "Industrial"
    ),
    F.when(
        F.upper(F.col("primary_purpose")).contains("FARM"),
        "Farm"
    ),
    F.when(
        (F.upper(F.col("primary_purpose")).contains("VACANT")) |
        (F.upper(F.col("primary_purpose")).contains("LAND")),
        "Vacant Land"
    ),
    F.when(
        (F.upper(F.col("primary_purpose")).contains("COMM")) |
        (F.upper(F.col("primary_purpose")).contains("RETAIL")) |
        (F.upper(F.col("primary_purpose")).contains("SHOP")) |
        (F.upper(F.col("primary_purpose")).contains("OFFICE")),
        "Commercial"
    )
)).withColumn("categories", F.expr("filter(categories, x -> x is not null)")) # Remove nulls from the array

# Step 3: Handle the 'Others' category
# If the 'categories' array is empty, we classify it as 'Others'.
final_classified_df = classified_df.withColumn(
    "property_category",
    F.when(F.size(F.col("categories")) == 0, F.array(F.lit("Others")))
     .otherwise(F.col("categories"))
)

# Step 4: Explode the array, group by category, and count
# F.explode() creates a new row for each element in the 'property_category' array.
# This is how we achieve the multi-counting requirement.
category_counts = final_classified_df.withColumn("category", F.explode("property_category")) \
                                     .groupBy("category") \
                                     .count() \
                                     .orderBy(F.desc("count")) # Sort for readability

# Step 5: Show the final count table
print("\n--- Count of Each Property Type ---")
category_counts.show()

--- Count of Each Property Type ---
+-----------+-------+
|   category|  count|
+-----------+-------+
|     Others|3992886|
|Vacant Land| 559409|
| Commercial| 136905|
|       Farm|  73952|
|  Residence|  73009|
| Industrial|  37070|
+-----------+-------+

2.2.3 Find the top 20 properties that make the largest value gain, show their address, suburb, and value increased. To calculate the value gain, the property must have been sold multiple times, “value increase” can be calculated with the last sold price – first sold price, regardless the transactions in between. Print all 20 records.

In [13]:
# Step 1: Find the first and last sale date for each property
# We group by property_id and find the minimum and maximum contract dates.
date_extremes_df = property_df.groupBy("property_id") \
    .agg(
        F.min("iso_contract_date").alias("first_sale_date"),
        F.max("iso_contract_date").alias("last_sale_date")
    ) \
    .filter(F.col("first_sale_date") < F.col("last_sale_date")) # Ensure the property was sold at least twice

# Step 2: Join back to the original DataFrame to get the FIRST sale price
# We join on property_id AND the first_sale_date to find the row with the first sale.
first_sale_df = date_extremes_df.join(
    property_df,
    [
        date_extremes_df.property_id == property_df.property_id,
        date_extremes_df.first_sale_date == property_df.iso_contract_date
    ]
).select(
    date_extremes_df.property_id,
    "first_sale_date",
    "last_sale_date",
    F.col("purchase_price").alias("first_price"),
    "address"
)

# Step 3: Join back AGAIN to get the LAST sale price
# We join the result from Step 2 on property_id AND the last_sale_date.
last_sale_df = first_sale_df.join(
    property_df,
    [
        first_sale_df.property_id == property_df.property_id,
        first_sale_df.last_sale_date == property_df.iso_contract_date
    ]
).select(
    first_sale_df.property_id,
    first_sale_df.address,
    "first_price",
    F.col("purchase_price").alias("last_price")
)

# Step 4: Calculate the value increase and find the top 20
value_gain_df = last_sale_df.withColumn("value_increase", F.col("last_price") - F.col("first_price"))

top_20_properties = value_gain_df.orderBy(F.desc("value_increase")) \
                                 .limit(20)

# Step 5: Display the results
print("\n--- Top 20 Properties with Largest Value Gain ---")
top_20_properties.select("address", "value_increase").show(20, truncate=False)

--- Top 20 Properties with Largest Value Gain ---
+--------------------------------+--------------+
|address                         |value_increase|
+--------------------------------+--------------+
|8 ACACIA CCT, WARRIEWOOD        |8.7489E8      |
|38 BARRENJOEY RD, MONA VALE     |5.43102135E8  |
|358 ANZAC PDE, KINGSFORD        |5.43102135E8  |
|1 FORBES RD, PARKES             |5.43102135E8  |
|86 VICTORIA RD, ROZELLE         |5.43102135E8  |
|322 CANTERBURY RD, CANTERBURY   |5.4301596E8   |
|169 WILLOUGHBY RD, NAREMBURN    |5.4301596E8   |
|322 CANTERBURY RD, CANTERBURY   |5.4301596E8   |
|169 WILLOUGHBY RD, NAREMBURN    |5.4301596E8   |
|1234 PRINCES HWY, ENGADINE      |5.4301596E8   |
|327 PRINCES HWY, ST PETERS      |5.4301596E8   |
|1234 PRINCES HWY, ENGADINE      |5.4301596E8   |
|100 PACIFIC HWY, TUGGERAH       |5.42898135E8  |
|3986 PACIFIC HWY, GULMARRAD     |5.42714135E8  |
| RIVER ST, MACLEAN              |5.42694135E8  |
|136 PACIFIC HWY N, COFFS HARBOUR|5.42644135E8  |
|255 STEWART ST, BATHURST        |5.42633135E8  |
|8 KOSCIUSKO RD, JINDABYNE       |5.4258277E8   |
|366 MAITLAND RD, HEXHAM         |5.42444135E8  |
|14 VILLIERS ST, GRAFTON         |5.42364135E8  |
+--------------------------------+--------------+

2.2.4 For each season, plot the median house price trend over the years. Seasons in Australia are defined as: (Spring: Sep-Nov, Summer: Dec-Feb, Autumn: Mar-May, Winter: Jun-Aug).

2.2.5 (Open Question) Explore the dataset freely and plot one diagram of your choice. Which columns (at least 2) are highly correlated to the sales price? Discuss the steps of your exploration and the results. (No word limit, please keep concise.)

Write your dicsussion here.

### Part 3 RDDs vs DataFrame vs Spark SQL (25%) <a class="anchor" name="part-3"></a>
Implement the following complex queries using RDD, DataFrame in SparkSQL separately(choose two). Log the time taken for each query in each approach using the “%%time” built-in magic command in Jupyter Notebook and discuss the performance difference between these 2 approaches of your choice.
(notes: You can write a multi-step query or a single complex query, the choice is yours. You can reuse the data frame in Part 2.)

#### Complex Query:
<pre>
A property investor wants to understand whether the property price and the settlement date are correlated. Here is the conditions:
1)	The investor is only interested in the last 2 years of the dataset.
2)	The investor is looking at houses under $2 million.
3)	Perform a bucketing of the settlement date (settlement – contract date
range (15, 30, 45, 60, 90 days).
4)	Perform a bucketing of property prices in $500K(e.g. 0-$500K, $500K-$1M, $1M-$1.5M, $1.5-$2M)
5)	Count the number of transactions in each combination and print the result in the following format
(Note: It’s fine to count the same property multiple times in this task, it’s based on sales transactions).
(Note: You shall show the full table with 40 rows, 2 years *4 price bucket * 5 settlement bucket; 0 count should be displayed as 0, not omitted.)
</pre>

### a)	Implement the above query using two approaches of your choice separately and print the results. (Note: Outputs from both approaches of your choice are required, and the results should be the same.).

#### 3.1. Implementation 1

#### 3.2. Implementation 2

### b)	Which one is easier to implement, in your opinion? Log the time taken for each query, and observe the query execution time, among DataFrame and SparkSQL, which is faster and why? Please include proper references. (Maximum 500 words.)

### Some ideas on the comparison

Armbrust, M., Huai, Y., Liang, C., Xin, R., & Zaharia, M. (2015). Deep Dive into Spark SQL’s Catalyst Optimizer. Retrieved September 30, 2017, from https://databricks.com/blog/2015/04/13/deep-dive-into-spark-sqls-catalyst-optimizer.html

Damji, J. (2016). A Tale of Three Apache Spark APIs: RDDs, DataFrames, and Datasets. Retrieved September 28, 2017, from https://databricks.com/blog/2016/07/14/a-tale-of-three-apache-spark-apis-rdds-dataframes-and-datasets.html

Data Flair (2017a). Apache Spark RDD vs DataFrame vs DataSet. Retrieved September 28, 2017, from http://data-flair.training/blogs/apache-spark-rdd-vs-dataframe-vs-dataset

Prakash, C. (2016). Apache Spark: RDD vs Dataframe vs Dataset. Retrieved September 28, 2017, from http://why-not-learn-something.blogspot.com.au/2016/07/apache-spark-rdd-vs-dataframe-vs-dataset.html

Xin, R., & Rosen, J. (2015). Project Tungsten: Bringing Apache Spark Closer to Bare Metal. Retrieved September 30, 2017, from https://databricks.com/blog/2015/04/28/project-tungsten-bringing-spark-closer-to-bare-metal.html